<h1>Convert <%= @from_symbol %> to <%= @currency_symbol %></h1>

<p> 1 <%= @from_symbol %> equals <%= @exchange_rate %> <%=
    @currency_symbol %> </p>

<p>Go <a href="/forex/<%= @from_symbol %>">back</a>.</p>
